{% extends "Site/layout.html" %} {% block title %}Início{% endblock %} {% block content %}


<section class="hero">
    <div class="container">
        <h1 class="fade-in">Math Ranking</h1>
        <p class="fade-in">
            Math Ranking é uma plataforma desenvolvida para estudantes, entusiastas e profissionais que desejam praticar matemática por meio da resolução de desafios. Os usuários podem resolver problemas de diferentes níveis de dificuldade, acompanhar sua evolução
            e competir com outros participantes através de um sistema de ranking.
        </p>
        <a href="/login" class="btn btn-primary fade-in">Começar agora</a>
    </div>
</section>

{% endblock %}