{% extends "Platform/pages/layout.html" %} 

{% block title %}Desafios{% endblock %} 

{% block css_style %}
    {{ url_for('static', filename='/Platform/CSS/Pages/challenge.css') }}
{% endblock %}

{% block content %}

<section>
    <div class="_challenge-properties">
        <div class="_challenge-types">
            <select class="types" name="types">
                <option value="sum">Soma</option>
                <option value="sb">Subtração</option>
                <option value="d">Divisão</option>
                <option value="m">Multiplicação</option>
            </select>
        </div>
        <div class="_difficulty">
            <select class="difficulty" name="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <button type="button" id="getProblem">Gerar questão</button>
    </div>
    <div>
        <div class="_question">
            <h1>Resolva</h1>
            <p class="_question_text"></p>
        </div>
        <input id="sendResolution" type="text">
        <button type="button" id="buttonSend">Enviar resposta</button>
    </div>
</section>

{% endblock %}