{% extends "Platform/pages/layout.html" %} 

{% block title %}Home{% endblock %} 

{% block css_style %}
    {{ url_for('static', filename='Platform/CSS/Pages/home.css') }}
{% endblock %}

{% block content %}

<section class="profile-card">
    <div class="first-infos">
        <div class="profile-picture">
            <img alt="Foto de perfil" src="{{ url_for('static', filename='/Platform/IMG/profile_default.png') }}">
        </div>
        <div class="profile-infos">
            <h3>@{{ username }}</h3>
            <br>
            <h2>Posição no ranking</h2>
            <div class="profile-rankings">
                <a class="mini-versus">{{ versus_posicao }}</a>
                <a class="mini-global">{{ global_posicao }}</a>
            </div>
            <div class="card">
                <div class="mini-global active">
                    <thead>
                        <tr>
                            <th>Pontuação Global</th>
                            <th>Vitorias</th>
                            <th>Derrotas</th>
                            <th>Taxa de acerto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ global_pontuacao }}</td>
                            <td>{{ global_vitorias }}</td>
                            <td>{{ global_derrotas }}</td>
                            <td>{{ global_taxa }}</td>
                        </tr>
                    </tbody>
                </div>
                <div class="mini-versus">
                    <thead>
                        <tr>
                            <th>Pontuação Versus</th>
                            <th>Vitorias</th>
                            <th>Derrotas</th>
                            <th>Taxa de acerto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ versus_pontuacao }}</td>
                            <td>{{ versus_vitorias }}</td>
                            <td>{{ versus_derrotas }}</td>
                            <td>{{ versus_taxa }}</td>
                        </tr>
                    </tbody>
                </div>
            </div>
            <div class="desempenho">
                <h2>Desempenho por Área</h2>
                <div id="grafico-container"></div>
            </div>
        </div>
    </div>
</section>











<section class="_dashboard-grid">
    <div class="usercard">
        <div class="_user-info">
            <div class="_profile-mask">
                <img alt="perfil" src="{{ url_for('static', filename='/Platform/IMG/profile_default.png') }}">
            </div>
            <div class="_infos">
                <h1>Olá, @user</h1>
                <h2>Posição atual no ranking:</h2>
                <h1>#Position</h1>
            </div>
        </div>
        <div class="user-data">
            <div class="item-container">
                <h2>Pontuação atual:</h2>
                <p>00000000</p>
            </div>
            <div class="item-container">
                <table>
                    <thead>
                        <tr>
                            <td>Venceu</td>
                            <td>Perdeu</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <h1>Dashboard</h1>
        <div class="grid-dashboard">
            <a class="card" href="challenges">
                <i class="bi bi-plus-slash-minus"></i>
                <h2>Desafios</h2>
            </a>
            <a class="card" href="study">
                <i class="bi bi-book-half"></i>
                <h2>Estudar</h2>
            </a>
            <a class="card" href="calculator">
                <i class="bi bi-calculator"></i>
                <h2>Calculadora</h2>
            </a>
            <a class="card" href="versus">
                <i class="bi bi-controller"></i>
                <h2>Versus</h2>
            </a>
            <a class="card" href="leaderboard">
                <i class="bi bi-list-ol"></i>
                <h2>Ranking</h2>
            </a>
            <a class="card">
                <h2>Algebra</h2>
            </a>
            <a class="card">
                <h2>Algebra</h2>
            </a>
            <a class="card">
                <h2>Algebra</h2>
            </a>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/Platform/SCRIPT/desempenho_graph.js') }}"></script>
{% endblock %}
