{% extends "Platform/pages/layout.html" %} 

{% block title %}Login{% endblock %} 

{% block css_style %}
    {{ url_for('static', filename='/Platform/CSS/Pages/login.css') }}
{% endblock %}

{% block content %}

<div class="_conteiner_login">
    <div class="_content-login">
        <div class="_login">
            <form class="_form_login">
                <div>
                    <div class="hidden-message"></div>
                    <label type="email" >E-mail</label>
                    <input type="text" id="email"  autocomplete="off" placeholder="email@exaple.com" name="email" required>
                </div>
                <div class="password-div">
                    <label type="password">Senha</label>
                    <input type="password" autocomplete="" id="password" placeholder="***********" name="password" required>
                    <i class="bi bi-eye" id="btn-senha" onclick="alternateEye()"></i>
                </div>
                <div class="login-option">
                    <a onclick="toggleAnimation('login')">não tem uma conta? clique aqui para criar.</a>
                    <button class="login_button">Entrar</button>
                </div>
                <div class="_other-login-option">
                    <p>Ou</p>
                    <div class="_logo-container">
                        <i class="bi bi-google" id="oauth"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="Box" id="Box"></div>
        <div class="_login">
            <form class="_form_createAcc" id="registerOptions">
                <div>
                    <label class="_form_label" type="email" >E-mail</label>
                    <input type="email" id="emailR" placeholder="email@exaple.com" name="email" required>
                    <label class="_form_label" type="username" >Username</label>
                    <input type="text" id="usernameR" placeholder="Username" name="username" required>
                </div>
                <div class="password-div">
                    <label type="password">Digite sua senha</label>
                    <input type="password" autocomplete="" id="passwordR" placeholder="***********" name="password" required>
                    <label type="password">Confirme sua senha</label>
                    <input type="password" autocomplete="" id="passwordC" placeholder="***********" name="Confirmation" required>
                    <label type="text">Digite sua área de atuação ou estudos.</label>
                    <input type="text" id="roleR" placeholder="Ex: Eng. de Software" name="Role" required>
                </div>
                <div class="create-option">
                    <a onclick="toggleAnimation('register')">Já possui uma conta? clique aqui para Entrar.</a>
                    <button class="register_button">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/Platform/SCRIPT/animations.js') }}"></script>
    <script type="module" src=".{{ url_for('static', filename='/Platform/SCRIPT/login_and_register.js') }}"></script>
{% endblock %}