/*================================= Home =================================*/
._dashboard-grid {
    display: flex;
    background-color: #000000;
    gap: 0.5em;
    margin-bottom: 2em;
    justify-content: center;
}

.usercard {
    background-color: #1e1e1e;    /* Cards mais escuros */
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #333;      /* Borda sutil */
    font-size: 10px;
    min-width: 50vh;
    min-height: 40vw;
}

._profile-mask img{
    display: flex;
    mask-image: radial-gradient(black 70%, transparent 10%);
    width: 100px;
    image-rendering:optimizeQuality;
}
._user-info{
    margin: 0;
    padding: 10px;
    background-color: #4f4f4f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

._infos{ 
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}
.item-container{
    display: flex;
    background-color: #4f4f4f;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.item-container p{
    width: 50%;
    font-size: 20px;
}

.item-container table{
    width: 100%;
    font-size: 25px;
}
.challenges {
    background-color: #1e1e1e;    /* Cards mais escuros */
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #333;      /* Borda sutil */
}

.grid-challenges{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
}

.card{
    background-color: #0a0a0a45;
    width: 120px;
    height: 120px;
    text-align: center;
    align-content: center;
    border-radius: 2rem;
    transform: translateY(0px); 
}
.card:hover {
    animation: up 1s ease;
    box-shadow: 0 15px 30px #00c100;
}

@keyframes up{
    0% { opacity: 1; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(-10px); }
}
.card i {
    font-size: 2.5rem;
    color: #bb86fc;               /* Roxo */
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.card p {
    color: #b0b0b0;               /* Cinza claro */
    font-size: 0.95rem;
}

/*================================= Responsividade =================================*/

@media (max-width: 1200px){
    ._dashboard-grid {
        grid-template-columns: 300px 1fr;
        font-size: small;
    }

    .usercard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .challenges {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}

@media (max-width: 992px){
    ._dashboard-grid {
        grid-template-columns: 300px 1fr;
        font-size: small;
    }

    .usercard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .challenges {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }


    ._dashboard-grid {
        grid-template-columns: 1fr;
    }

    .usercard {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .challenges {
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}