/*================================= Lista de estudos =================================*/
._content-list{
    width: 1000px;
    height: 500px;
    align-self: center;
    margin: 20px;
    display: flex;
}

._studi_list{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    border-radius: 2em 0em 0em 2em;
}
._studi_list-item{
    background-color: rgb(95, 95, 95);
    display: flex;
    width: 95%;
    height: 30px;
    margin-top:0.5em;
    align-self: center;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

._studi_list-item:hover{
    border: 2px solid #00ff00;
}

._studi_list-item #studi{
    min-width: 95%;
    align-content: center;
    padding-left: 10px;
}

._studi_list-item #status{
    text-align: center;
    align-self: center;
    width: 50px;
}
._studi_summary{
    background-color: rgba(141, 141, 141, 0.507);
    width: 500px;
    height: 500px;
    border-radius: 0em 2em 2em 0em;
    text-align: center;
}

._studi_summary h2, h3{
    color: #00ff00;
}
._studi_summary p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

/*================================= Responsividade =================================*/