/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;  /* Fundo escuro principal */
    color: #e0e0e0;            /* Texto claro */ 
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header e navegação */
header {
    background-color: #000000;   /* Tom mais claro que o fundo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.primary_color {
    color: #00c100;
}

.secondary_color {
    color: #45595a;
}

._logo {
    font-weight: bold;
}

#logo_name {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: bold;
}

#logo_name span:hover {
    color: #00ff00;
    text-shadow: 0 0 5px rgb(255, 255, 255);               /* Roxo suave no hover */
}

._menu a, ._login a {
    text-decoration: none;
    color: #e0e0e0;              /* Links claros */
    margin-left: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

._menu a:hover{
    color: #00c100;               /* Roxo suave como destaque */
}

._dashboard-grid {
    justify-content: center;  /* para grid com menos colunas */
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    background-color: #000000;
    margin: 8px;
}

._content-login{
    display: flex;
    width: 280px;
    height: 450px;
    background-color: #2a2a2a;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);

    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}

._login {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    text-align: left;
    padding: 0.3rem;
    height: 1.4em;
    font-size: 15px;
}

._login label{
    padding-left: 10px;
    padding-top: 10px;
}

._login input{
    display: flex;
    width: 250px;
    line-height: 40px;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0 50px 0 20px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    box-shadow: 0px 1px 0px  rgba(0,0,0,0.5);
}

._login input:focus{
    box-shadow: 0px 1px 0px  rgba(30, 255, 0, 0.5);

}

.login-option{
    display: flex;
    width: 90%;
    margin-top: 5px;
}

.login-option a{
        text-align: left;
        font-size: 11px;
        flex-direction: row;
    }

.login-option button{
    display: flex;
    padding: 15px 20px;
    background: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    color:white;
    cursor: pointer;
}

.login-option button:hover{
    color: #15ff00;
}


.password-div i {
    font-size: 25px;
    cursor: pointer;
    color: #414141;
    position: absolute;
    right: 7%;
    top: 35%;
}

.password-div i:hover {
    color: #15ff00;
}
.password-div{
    position: relative;
}
.usercard {
    background-color: #1e1e1e;    /* Cards mais escuros */
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #333;      /* Borda sutil */
    font-size: 10px;
    align-content: center;
}

.item-container{
    background-color: #4f4f4f;
    display: flex;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 2em;
    display:flex;
    align-items: center;
    gap: 10px;
}
.content-item-container{
    background-color: #2a2a2a;
    display: block;
    border-radius: 2em;
    text-align: center;
    padding: 0.3rem;
    height: 1.4em;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);
    font-size: 20px;
    display: flex;
    align-items: center;

}
.challenges {
    background-color: #1e1e1e;    /* Cards mais escuros */
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #333;      /* Borda sutil */
}

.grid-challenges{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
}

.card{
    background-color: #0a0a0a45;
    width: 120px;
    height: 120px;
    text-align: center;
    align-content: center;
    border-radius: 2rem;
    transform: translateY(0px); 
}
.card:hover {
    animation: up 1s ease;
    box-shadow: 0 15px 30px #ffffff;
}

@keyframes up{
    0% { opacity: 1; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(-10px); }
    
}
.card i {
    font-size: 2.5rem;
    color: #bb86fc;               /* Roxo */
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.card p {
    color: #b0b0b0;               /* Cinza claro */
    font-size: 0.95rem;
}

/* Footer */
footer {
    background-color: #1f1f1f;    /* Mais escuro que o body */
    color:#00ff00; 
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    border-top: 1px solid #333;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;    
}

h1 {
    text-align: center;
    margin: 2rem auto;   /* espaçamento vertical e centralização em bloco */
}

/* Responsividade */
@media (max-width: 1200px){
    ._dashboard-grid {
        grid-template-columns: 300px 1fr;
        font-size: small;
    }

    .usercard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .challenges {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}
@media (max-width: 992px){
    ._dashboard-grid {
        grid-template-columns: 300px 1fr;
        font-size: small;
    }

    .usercard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .challenges {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    ._dashboard-grid {
        grid-template-columns: 1fr;
    }

    .usercard {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .challenges {
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-challenges{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    ._menu a, ._login a {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
    }

    ._login a:last-child {
        display: inline-block;
        margin-left: 0;
    }
}

