#container{
    background-color: rgb(39, 38, 38);
    background-image: linear-gradient(rgb(73, 73, 73) .05em, transparent .05em), linear-gradient(90deg, rgb(73, 73, 73)  .05em, transparent .05em);
    background-size: 2em 2em;
    height: 100vh;
}

.card{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
    position:fixed;

    text-align: center;
    align-content: center;
    color: white;
    font-size: larger;
}